
.tab-items{
    padding-left:20px;
    padding-right:20px;
}

.bootstrap-select .dropdown-menu.inner {
    background-color: #dee2e6;;
}
.selected {
    background-color: #ffffff;
}
.textarea-title{
    font-size:12px;
    padding-bottom:20px;
}

.textarea-desc{
    font-size:12px;
    padding-bottom:100px;    }

.page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #443c8f;
        border-color: #443c8f;
}

.card-box1 {
    background-color: #fff;
    padding: 0rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    margin-bottom: 24px;
    border-radius: 0.25rem;
    }

    a.morelink {
        text-decoration:none;
        outline: none;
    }
    .morecontent span {
        display: none;
    }
    .comment {
        width: 100%;

    }
.fif {
    display: inline-block;
    }
    .circle {
    padding-top: 10px;
    height: 10px;
    width: 10px;
    background-color: #443c8f;
    border-radius: 50%;
    }
    .triangle-up {
    padding-top : 12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #443c8f;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 500;
    font-family: 'Proxima-Nova';
    color: #414d5f;
    }

    .checkbox input::before[type="checkbox"] {
        opacity: 0;
    }
        .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
        height: 18px;
        width: 18px;
        padding-top: 2px;
        padding-left: 6px;
        color: #ffffff;
        background-color: #f0643b;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        display: inline-block;
        right: 15px;
        top: 5px;
    }
    .resp-container1 {

        overflow: hidden;
        padding: 0px 30px 0px 30px;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
    }
    #message::-webkit-input-placeholder
        {
          color:    #20DDC6;
          font-weight:500;
        }
        #search::-webkit-input-placeholder
        {
          color:    #20DDC6;
          font-weight:500;
        }
        .buttonform1 {
          background-color: #443c8f;
          border: none;
          width:150px;
          color: white;
          padding: 10px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 2px 2px;
          cursor: pointer;
        }
        .buttonform {
          background-color: #443c8f;
          border: none;
          width:180px;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

    [class^=fe-] {
        size:30px;
        font-family: "feather" !important;
        speak: none;
        color: #20DDC6;
    }


    .input-group-text {
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 0;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        /* background-color: #e9ecef; */
        /* border: 1px solid #ced4da; */
        border-radius: 0.2rem;
    }
    .fe-search:before {
        content: "\E8BD";
        font-size: large;
    }
    .mdi-check:before {
        font-weight: 700;
        content: "\F12C";
        padding-top: 5px;
        height: 45px;
        width: 45px;
        background-color: #443c8f;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
    }
    .mdi-check1:before {
        font-weight: 700;
        content: "\F12C";
        padding-top: 1;
        height: 20px;
        width: 20px;
        background-color: #443c8f;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
    }
    .mdi-check2:before {
        font-weight: 700;
        content: "\F12C";
        padding-top: 1;
        height: 20px;
        width: 20px;
        background-color: #eeeeee;
        border-radius: 50%;
        color: #20DDC6;
        display: inline-block;
    }
    .modal-open .modal {
        background-color: rgba(0, 0, 0, 0.5);
        overflow-x: hidden;
        overflow-y: auto;
    }

        .nav-bordered .nav-item {
        margin-bottom: -2px;

    }
        .nav-bordered {
        margin-bottom: -11px;
        border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
    }
    .nav-bordered a.active {
        color:#5089de;
        border-bottom: 3px solid #5089de !important;
    }
    .tab-back.active {
        color: #495057;
        background-color: #000000;
        }
    .text .nav-link.active{
       color: #5089de;
        background-color: #eeeeee;
    }
    .col-form-label {
        padding-top: calc(0.2rem + 1px);
        padding-bottom: calc(0.45rem + 1px);
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.5;
        color:#222222;
    }
    .navbar-custom{
        background-color: #f7f7f7;
        position: absolute;
    }


    @media (max-width: 767.98px){
.left-side-menu {

    z-index: 10 !important;
    margin-top:-70px;
}}
    .left-side-menu {
        margin-top:-70px;
        z-index: 100;
        width: 240px;
        color: #ffffff;
        /* background: #443c8f; */
        bottom: 0;
        padding: 20px 0;
        position: fixed;
        top: 70px;
        box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
    }
    #sidebar-menu > ul > li > a {
    color: #dde5ec;
    display: block;
    font-family: 'Proxima-Nova';
    }

    .card-droptribe {
        font-size: 20px;
        line-height: 0;
        color: #ffffff;
    }
    #field-1::-webkit-input-placeholder
    {
      color:    #20DDC6;
      font-weight:500;
    }
        #field-2::-webkit-input-placeholder
    {
      color:    #20DDC6;
      font-weight:500;
    }
    .modal-open .modal {
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
}
    .card-drop {
    font-size: 20px;
    line-height: 0;
    color: #ffffff;
}

.itemtribe:hover {
  background-color: #f2f2f2;
  color: #23b397;
}
 .itemtribe {
    display: block;
    width: 100%;
    padding: 0.45rem 1.2rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
    .bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: -5px;
}
.btn-outline-primary {
    color: #414d5f;
    border-color: #999999;
}


    .nav-bordered {
    margin-bottom: -11px;
    border-bottom: 2px solid rgba(152, 166, 173, 0.2) !important;
}
.nav-bordered a.active {
    color:#5089de;
    border-bottom: 3px solid #5089de !important;
}
.text .nav-link.active{
   color: #5089de;
    background-color: #eeeeee;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + 0.9rem + 2px);
    padding: 0.45rem 0.9rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #f7f7f7e0;
    background-clip: padding-box;
    border: 1px solid #f7f7f7e0;
}


.left30{
padding-left:30px;
}

.dropdownboard{
    min-width: 7rem; margin-top: -10px; margin-right: -10px;
    background-color: rgb(35, 179, 151);
}

.checkbox label::before {
    margin-left: 100px;
}

