@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Work+Sans:400,500,600);@charset "UTF-8";

/*
Template Name: Xeria - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 1.0.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Css File
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

.metismenu {
  padding: 0;
}

.metismenu li {
  list-style: none;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  width: 100%;
}

.metismenu .collapse {
  display: none;
}

.metismenu .collapse.in {
  display: block;
}

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: height, visibility;
}

.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px;
  color: #8391a0;
  display: block;
  position: relative;
  transition: all 0.4s;
}

.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover {
  color: #a8bcd2;
}

.nav-second-level li.active > a,
.nav-third-level li.active > a {
  color: #b1c4da;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 0 15px 5px 15px;
  min-height: 80vh;
  margin-top: 70px;
}

.left-side-menu {
  width: 240px;
  background: #443c8f;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  top: 70px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
}

#sidebar-menu > ul > li > a {
  color: #8391a0;
  display: block;
  padding: 13px 20px;
  position: relative;
  transition: all 0.4s;
  font-family: "Work Sans", sans-serif;
  font-size: 0.925rem;
}

#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:active {
  color: #a8bcd2;
  text-decoration: none;
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu > ul > li > a i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  font-size: 1.125rem;
}

#sidebar-menu > ul > li > a .drop-arrow {
  float: right;
}

#sidebar-menu > ul > li > a .drop-arrow i {
  margin-right: 0;
}

#sidebar-menu > ul > li > a.active {
  color: #b1c4da;
}

#sidebar-menu > ul > li > ul {
  padding-left: 40px;
}

#sidebar-menu > ul > li > ul ul {
  padding-left: 20px;
}

#sidebar-menu .menu-arrow {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: "Material Design Icons";
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#sidebar-menu .menu-arrow:before {
  content: "\F142";
}

#sidebar-menu .badge {
  margin-top: 4px;
}

#sidebar-menu li.active > a > span.menu-arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sidebar-menu .menu-title {
  padding: 10px 20px;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #8391a0;
  font-weight: 600;
}

.enlarged .logo-box {
  width: 70px !important;
}

.enlarged .logo span.logo-lg {
  display: none;
}

.enlarged .logo span.logo-sm {
  display: block;
}

.enlarged .left-side-menu {
  position: absolute;
  padding-top: 0;
  width: 70px !important;
  z-index: 5;
}

.enlarged .left-side-menu .slimScrollDiv,
.enlarged .left-side-menu .slimscroll-menu {
  overflow: inherit !important;
  height: auto !important;
}

.enlarged .left-side-menu .slimScrollBar {
  visibility: hidden;
}

.enlarged .left-side-menu #sidebar-menu .menu-title,
.enlarged .left-side-menu #sidebar-menu .menu-arrow,
.enlarged .left-side-menu #sidebar-menu .label,
.enlarged .left-side-menu #sidebar-menu .badge,
.enlarged .left-side-menu #sidebar-menu .collapse.in {
  display: none !important;
}

.enlarged .left-side-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}

.enlarged .left-side-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.enlarged .left-side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 54px;
}

.enlarged .left-side-menu #sidebar-menu > ul > li > a:hover,
.enlarged .left-side-menu #sidebar-menu > ul > li > a:active,
.enlarged .left-side-menu #sidebar-menu > ul > li > a:focus {
  color: #a8bcd2;
}

.enlarged .left-side-menu #sidebar-menu > ul > li > a i {
  font-size: 1.35rem;
  margin-right: 20px;
}

.enlarged .left-side-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 25px;
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: calc(190px + 70px);
  color: #b1c4da;
  background-color: #3d454e;
  transition: none;
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > a span {
  display: inline;
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover a.open :after,
.enlarged .left-side-menu #sidebar-menu > ul > li:hover a.active :after {
  display: none;
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul ul {
  box-shadow: 3px 5px 10px 0 rgba(154, 161, 171, 0.2);
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a {
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #56c2d6;
}

.enlarged .left-side-menu #sidebar-menu > ul ul {
  padding: 5px 0;
  z-index: 9999;
  background-color: #fff;
}

.enlarged .left-side-menu #sidebar-menu > ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.enlarged .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.enlarged .left-side-menu #sidebar-menu > ul ul li.active a {
  color: #56c2d6;
}

.enlarged .content-page {
  margin-left: 70px !important;
}

.enlarged .footer {
  left: 70px !important;
}

.enlarged .user-box {
  display: none;
}

body.enlarged {
  min-height: 1200px;
}

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
    padding-bottom: 80px;
  }

  .left-side-menu {
    display: none;
    z-index: 10 !important;
  }

  .sidebar-enable .left-side-menu {
    display: block;
  }

  .content-page,
  .enlarged .content-page {
    margin-left: 0 !important;
    padding: 0 10px;
  }

  .pro-user-name {
    display: none;
  }

  .logo-box {
    display: none;
  }
}

/* =============
  Small Menu
============= */

.left-side-menu-sm .logo-box {
  width: 160px;
}

.left-side-menu-sm .left-side-menu {
  width: 160px;
  text-align: center;
}

.left-side-menu-sm .left-side-menu #sidebar-menu > ul > li > a > i {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin: 0;
}

.left-side-menu-sm .left-side-menu #sidebar-menu > ul ul {
  padding-left: 0;
}

.left-side-menu-sm .left-side-menu #sidebar-menu > ul ul a {
  padding: 10px 20px;
}

.left-side-menu-sm .left-side-menu .menu-arrow,
.left-side-menu-sm .left-side-menu .badge {
  display: none !important;
}

.left-side-menu-sm .left-side-menu + .content-page {
  margin-left: 160px;
}

.left-side-menu-sm .left-side-menu + .content-page .footer {
  left: 160px;
}

.left-side-menu-sm .left-side-menu .menu-title {
  background-color: #48525c;
}

.enlarged.left-side-menu-sm #wrapper .left-side-menu {
  text-align: left;
}

.enlarged.left-side-menu-sm #wrapper .left-side-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  vertical-align: middle;
  width: 20px;
}

.left-side-menu-light .left-side-menu {
  background-color: #ffffff;
}

.left-side-menu-light .left-side-menu #sidebar-menu > ul > li > a {
  color: #6d7073;
}

.left-side-menu-light .left-side-menu #sidebar-menu > ul > li > a:hover,
.left-side-menu-light .left-side-menu #sidebar-menu > ul > li > a:focus,
.left-side-menu-light .left-side-menu #sidebar-menu > ul > li > a:active {
  color: #56c2d6;
}

.left-side-menu-light .left-side-menu #sidebar-menu > ul > li > a.active {
  color: #56c2d6;
  background-color: #f1f5f7;
  border-right-color: #56c2d6;
}

.left-side-menu-light .left-side-menu #sidebar-menu .menu-title {
  color: #adb5bd;
}

.left-side-menu-light .left-side-menu .nav-second-level li a,
.left-side-menu-light .left-side-menu .nav-thrid-level li a {
  color: #6d7073;
}

.left-side-menu-light .left-side-menu .nav-second-level li a:focus,
.left-side-menu-light .left-side-menu .nav-second-level li a:hover,
.left-side-menu-light .left-side-menu .nav-thrid-level li a:focus,
.left-side-menu-light .left-side-menu .nav-thrid-level li a:hover {
  background-color: transparent;
  color: #56c2d6;
}

.left-side-menu-light .left-side-menu .nav-second-level li.active > a,
.left-side-menu-light .left-side-menu .nav-third-level li.active > a {
  color: #56c2d6;
}

.enlarged.left-side-menu-light #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
  color: #56c2d6 !important;
  background-color: #f1f5f7 !important;
}

.user-pro-dropdown {
  background-color: #f1f5f7;
  box-shadow: none;
  padding: 15px 5px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.user-pro-dropdown .dropdown-item {
  border-radius: 3px;
}

.user-pro-dropdown .dropdown-item:hover {
  background-color: #5089de;
  color: #fff;
}

.logo {
  display: block;
  line-height: 70px;
}

.logo span.logo-lg {
  display: block;
}

.logo span.logo-sm {
  display: none;
}

.logo .logo-lg-text-dark {
  color: #414d5f;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.logo .logo-lg-text-light {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.logo-box {
  height: 70px;
  width: 240px;
  float: left;
  background-color: #3d454e;
}

.navbar-custom {
  background-color: #ffffff;
  padding: 0 10px 0 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  box-shadow: 0 0 35px 0 rgba(61, 69, 78, 0.15);
  /* Search */
}

.navbar-custom .topnav-menu > li {
  float: left;
}

.navbar-custom .topnav-menu .nav-link {
  padding: 0 15px;
  color: #6c757d;
  min-width: 32px;
  display: block;
  line-height: 70px;
  text-align: center;
  max-height: 70px;
}

.navbar-custom .dropdown.show .nav-link {
  background-color: rgba(65, 77, 95, 0.05);
}

.navbar-custom .app-search {
  overflow: hidden;
  height: 70px;
  display: table;
  max-width: 180px;
  margin-right: 20px;
}

.navbar-custom .app-search .app-search-box {
  display: table-cell;
  vertical-align: middle;
}

.navbar-custom .app-search .app-search-box input::-webkit-input-placeholder {
  font-size: 0.8125rem;
  color: #adb5bd;
}

.navbar-custom .app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 20px;
  padding-right: 0;
  background-color: #f1f5f7;
  box-shadow: none;
  border-radius: 30px 0 0 30px;
}

.navbar-custom .app-search .input-group-append {
  margin-left: 0;
  z-index: 4;
}

.navbar-custom .app-search .btn {
  background-color: #f1f5f7;
  border-color: transparent;
  color: #6c757d;
  border-radius: 0 30px 30px 0;
  box-shadow: none !important;
}

.navbar-custom .button-menu-mobile {
  border: none;
  color: #414d5f;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.navbar-custom .button-menu-mobile span {
  width: 18px;
  height: 2px;
  background-color: #414d5f;
  display: block;
  margin: 5px 12px;
}

.navbar-custom .button-menu-mobile span:nth-of-type(2) {
  width: 24px;
}

.navbar-custom .button-menu-mobile.disable-btn {
  display: none;
}

/* Notification */

.noti-scroll {
  max-height: 230px;
}

.notification-list {
  margin-left: 0;
}

.notification-list .noti-title {
  background-color: #414d5f;
  padding: 15px 20px;
  margin-top: -0.25rem;
}

.notification-list .noti-icon {
  font-size: 21px;
  vertical-align: middle;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 12px;
}

.notification-list .notify-item {
  padding: 12px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 5px;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #414d5f;
  font-family: "Work Sans", sans-serif;
}

.notification-list .notify-item .notify-details b {
  font-weight: 500;
}

.notification-list .notify-item .notify-details small {
  display: block;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.notification-list .notify-item .user-msg {
  margin-left: 45px;
  white-space: normal;
  line-height: 16px;
}

.notification-list .profile-dropdown .notify-item {
  padding: 0.45rem 1.2rem;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  vertical-align: middle;
  margin-right: 5px;
}

.nav-user {
  padding: 0 12px !important;
}

.nav-user img {
  height: 32px;
  width: 32px;
}

.topbar-dark .navbar-custom {
  background-color: #3d454e !important;
  /* Search */
}

.topbar-dark .navbar-custom .topnav-menu .nav-link {
  color: #ced4da;
}

.topbar-dark .navbar-custom .dropdown.show .nav-link {
  background-color: rgba(241, 245, 247, 0.03);
}

.topbar-dark .navbar-custom .button-menu-mobile span {
  background-color: #98a6ad;
}

.topbar-dark .navbar-custom .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.topbar-dark .navbar-custom .app-search input::-webkit-input-placeholder {
  color: #6c757d !important;
}

.topbar-dark .navbar-custom .app-search .form-control {
  color: #fff;
  background-color: #444d57;
  border-color: #f1f5f7;
}

.topbar-dark .navbar-custom .app-search .btn {
  background-color: #444d57;
  color: #ced4da;
}

.page-title-box .page-title {
  font-size: 1.25rem;
  margin: 0;
  line-height: 75px;
  color: #323a46;
}

.page-title-box .page-title-right {
  float: right;
  margin-top: 22px;
}

.page-title-box .breadcrumb {
  padding-top: 5px;
}

@media (max-width: 767.98px) {
  .page-title-box .page-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 70px;
  }

  .page-title-box .breadcrumb {
    display: none;
  }
}

@media (max-width: 640px) {
  .page-title-box .page-title-right {
    display: none;
  }
}

@media (max-width: 419px) {
  .page-title-box .breadcrumb {
    display: none;
  }
}

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 240px;
  background-color: #f1f2f5;
}

.footer .footer-links a {
  color: #98a6ad;
  margin-left: 1.5rem;
  transition: all 0.4s;
}

.footer .footer-links a:hover {
  color: #323a46;
}

.footer .footer-links a:first-of-type {
  margin-left: 0;
}

.footer-alt {
  left: 0 !important;
  text-align: center;
  background-color: transparent;
}

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}

.right-bar {
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  transition: all 200ms ease-out;
  width: 260px;
  z-index: 9999;
  float: right !important;
  right: -270px;
  top: 0;
  bottom: 0;
}

.right-bar .rightbar-title {
  background-color: #5089de;
  padding: 27px 25px;
  color: #fff;
}

.right-bar .right-bar-toggle {
  background-color: #505e74;
  height: 24px;
  width: 24px;
  line-height: 27px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-top: -4px;
}

.right-bar .right-bar-toggle:hover {
  background-color: #56667d;
}

.right-bar .user-box {
  padding: 25px;
  text-align: center;
}

.right-bar .user-box .user-img {
  position: relative;
  height: 64px;
  width: 64px;
  margin: 0 auto 15px auto;
}

.right-bar .user-box .user-img .user-edit {
  position: absolute;
  right: -5px;
  bottom: 0px;
  height: 24px;
  width: 24px;
  background-color: #fff;
  line-height: 24px;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.right-bar .user-box h5 {
  margin-bottom: 2px;
}

.right-bar .user-box h5 a {
  color: #414d5f;
}

.rightbar-overlay {
  background-color: rgba(65, 77, 95, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  transition: all 0.2s ease-out;
}

.right-bar-enabled .right-bar {
  right: 0;
}

.right-bar-enabled .rightbar-overlay {
  display: block;
}

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto;
  }

  .right-bar .slimscroll-menu {
    height: auto !important;
  }
}

body.boxed-layout #wrapper {
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
}

body.boxed-layout .navbar-custom {
  max-width: 1300px;
  margin: 0 auto;
}

body.boxed-layout .footer {
  margin: 0 auto;
  max-width: calc(1300px - 240px);
}

body.boxed-layout.enlarged .footer {
  max-width: calc(1300px - 70px);
}

.width-xs {
  min-width: 80px;
}

.width-sm {
  min-width: 100px;
}

.width-md {
  min-width: 120px;
}

.width-lg {
  min-width: 140px;
}

.width-xl {
  min-width: 160px;
}

.font-family-secondary {
  font-family: "Work Sans", sans-serif;
}

.avatar-xs {
  height: 1.5rem;
  width: 1.5rem;
}

.avatar-sm {
  height: 2.25rem;
  width: 2.25rem;
}

.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}

.avatar-lg {
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-xl {
  height: 6rem;
  width: 6rem;
}

.avatar-xxl {
  height: 7.5rem;
  width: 7.5rem;
}

.avatar-title {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.avatar-group {
  padding-left: 12px;
}

.avatar-group .avatar-group-item {
  margin: 0 0 10px -12px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.sp-line-1,
.sp-line-2,
.sp-line-3,
.sp-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.sp-line-1 {
  -webkit-line-clamp: 1;
}

.sp-line-2 {
  -webkit-line-clamp: 2;
}

.sp-line-3 {
  -webkit-line-clamp: 3;
}

.sp-line-4 {
  -webkit-line-clamp: 4;
}

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 4px);
  display: block;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  color: #adb5bd;
}

.widget-flat {
  position: relative;
  overflow: hidden;
}

.widget-flat i.widget-icon {
  font-size: 36px;
}

.widget-user {
  position: relative;
}

.widget-user img {
  width: 60px;
  height: 60px;
}

.widget-user .user-position {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 44px;
  font-size: 16px;
  text-align: center;
  right: 0;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.widget-user .user-position span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dash-item-overlay {
  position: absolute;
  left: 8%;
  max-width: 350px;
  padding: 20px;
  z-index: 1;
}

.inbox-widget .inbox-item {
  border-bottom: 1px solid white;
  overflow: hidden;
  padding: 0.625rem 0;
  position: relative;
}

.inbox-widget .inbox-item:last-of-type {
  border-bottom: none;
}

.inbox-widget .inbox-item .inbox-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 40px;
}

.inbox-widget .inbox-item .inbox-item-img img {
  width: 40px;
}

.inbox-widget .inbox-item .inbox-item-author {
  color: #414d5f;
  display: block;
  margin-bottom: 3px;
}

.inbox-widget .inbox-item .inbox-item-text {
  color: #98a6ad;
  display: block;
  font-size: 0.8125rem;
  margin: 0;
  overflow: hidden;
}

.inbox-widget .inbox-item .inbox-item-date {
  color: #98a6ad;
  font-size: 0.6875rem;
  position: absolute;
  right: 5px;
  top: 10px;
}

.cta-box {
  background-image: url(/images/bg-pattern-2.png?0eb46f6e1b402dd36da37b73e10939d6);
  background-size: cover;
}

.cta-box .cta-box-title {
  font-size: 20px;
  line-height: 30px;
}

.timeline-alt {
  position: relative;
}

.timeline-alt .timeline-item {
  position: relative;
}

.timeline-alt .timeline-item:before {
  background-color: #dee2e6;
  bottom: 0;
  content: "";
  left: 5px;
  position: absolute;
  top: 3px;
  width: 2px;
  z-index: 0;
}

.timeline-alt .timeline-item .timeline-icon {
  float: left;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #fff;
  color: #414d5f;
  margin-top: 3px;
  border: 2px solid #dee2e6;
  z-index: 1;
  position: relative;
}

.timeline-alt .timeline-item .timeline-item-info {
  margin-left: 25px;
}

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #98a6ad;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 18px;
  outline: none !important;
  top: 2px;
}

.checkbox label::after {
  color: #6c757d;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  left: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 2px;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkbox input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type=checkbox]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type=checkbox]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.checkbox input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: table;
  width: 4px;
  height: 8px;
  border: 2px solid #6c757d;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type=checkbox]:disabled + label::before {
  background-color: #f1f5f7;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute;
}

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px;
}

.checkbox.checkbox-single label:before {
  margin-left: 0;
}

.checkbox.checkbox-single label:after {
  margin-left: 0;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #5089de;
  border-color: #5089de;
}

.checkbox-primary input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-secondary input[type=checkbox]:checked + label::before {
  background-color: #98a6ad;
  border-color: #98a6ad;
}

.checkbox-secondary input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-success input[type=checkbox]:checked + label::before {
  background-color: #23b397;
  border-color: #23b397;
}

.checkbox-success input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-info input[type=checkbox]:checked + label::before {
  background-color: #56c2d6;
  border-color: #56c2d6;
}

.checkbox-info input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-warning input[type=checkbox]:checked + label::before {
  background-color: #f8cc6b;
  border-color: #f8cc6b;
}

.checkbox-warning input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-danger input[type=checkbox]:checked + label::before {
  background-color: #f0643b;
  border-color: #f0643b;
}

.checkbox-danger input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-light input[type=checkbox]:checked + label::before {
  background-color: #f1f5f7;
  border-color: #f1f5f7;
}

.checkbox-light input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-dark input[type=checkbox]:checked + label::before {
  background-color: #414d5f;
  border-color: #414d5f;
}

.checkbox-dark input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-pink input[type=checkbox]:checked + label::before {
  background-color: #e36498;
  border-color: #e36498;
}

.checkbox-pink input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.checkbox-purple input[type=checkbox]:checked + label::before {
  background-color: #675db7;
  border-color: #675db7;
}

.checkbox-purple input[type=checkbox]:checked + label::after {
  border-color: #fff;
}

.radio label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}

.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #98a6ad;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 18px;
  outline: none !important;
}

.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #6c757d;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 10px;
  left: 6px;
  margin-left: -20px;
  position: absolute;
  top: 4px;
  transform: scale(0, 0);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 10px;
}

.radio input[type=radio] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.radio input[type=radio]:disabled + label {
  opacity: 0.65;
}

.radio input[type=radio]:focus + label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}

.radio input[type=radio]:checked + label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type=radio]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-primary input[type=radio] + label::after {
  background-color: #5089de;
}

.radio-primary input[type=radio]:checked + label::before {
  border-color: #5089de;
}

.radio-primary input[type=radio]:checked + label::after {
  background-color: #5089de;
}

.radio-secondary input[type=radio] + label::after {
  background-color: #98a6ad;
}

.radio-secondary input[type=radio]:checked + label::before {
  border-color: #98a6ad;
}

.radio-secondary input[type=radio]:checked + label::after {
  background-color: #98a6ad;
}

.radio-success input[type=radio] + label::after {
  background-color: #23b397;
}

.radio-success input[type=radio]:checked + label::before {
  border-color: #23b397;
}

.radio-success input[type=radio]:checked + label::after {
  background-color: #23b397;
}

.radio-info input[type=radio] + label::after {
  background-color: #56c2d6;
}

.radio-info input[type=radio]:checked + label::before {
  border-color: #56c2d6;
}

.radio-info input[type=radio]:checked + label::after {
  background-color: #56c2d6;
}

.radio-warning input[type=radio] + label::after {
  background-color: #f8cc6b;
}

.radio-warning input[type=radio]:checked + label::before {
  border-color: #f8cc6b;
}

.radio-warning input[type=radio]:checked + label::after {
  background-color: #f8cc6b;
}

.radio-danger input[type=radio] + label::after {
  background-color: #f0643b;
}

.radio-danger input[type=radio]:checked + label::before {
  border-color: #f0643b;
}

.radio-danger input[type=radio]:checked + label::after {
  background-color: #f0643b;
}

.radio-light input[type=radio] + label::after {
  background-color: #f1f5f7;
}

.radio-light input[type=radio]:checked + label::before {
  border-color: #f1f5f7;
}

.radio-light input[type=radio]:checked + label::after {
  background-color: #f1f5f7;
}

.radio-dark input[type=radio] + label::after {
  background-color: #414d5f;
}

.radio-dark input[type=radio]:checked + label::before {
  border-color: #414d5f;
}

.radio-dark input[type=radio]:checked + label::after {
  background-color: #414d5f;
}

.radio-pink input[type=radio] + label::after {
  background-color: #e36498;
}

.radio-pink input[type=radio]:checked + label::before {
  border-color: #e36498;
}

.radio-pink input[type=radio]:checked + label::after {
  background-color: #e36498;
}

.radio-purple input[type=radio] + label::after {
  background-color: #675db7;
}

.radio-purple input[type=radio]:checked + label::before {
  border-color: #675db7;
}

.radio-purple input[type=radio]:checked + label::after {
  background-color: #675db7;
}

.ribbon-box {
  position: relative;
  /* Ribbon two */
}

.ribbon-box .ribbon {
  position: relative;
  clear: both;
  padding: 5px 12px;
  margin-bottom: 15px;
  box-shadow: 2px 5px 10px rgba(65, 77, 95, 0.15);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.ribbon-box .ribbon:before {
  content: " ";
  border-style: solid;
  border-width: 10px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-bottom: -10px;
  z-index: -1;
}

.ribbon-box .ribbon.float-left {
  margin-left: -30px;
  border-radius: 0 3px 3px 0;
}

.ribbon-box .ribbon.float-right {
  margin-right: -30px;
  border-radius: 3px 0 0 3px;
}

.ribbon-box .ribbon.float-right:before {
  right: 0;
}

.ribbon-box .ribbon.float-center span {
  margin: 0 auto 20px auto;
}

.ribbon-box .ribbon-content {
  clear: both;
}

.ribbon-box .ribbon-primary {
  background: #5089de;
}

.ribbon-box .ribbon-primary:before {
  border-color: #286dd3 transparent transparent;
}

.ribbon-box .ribbon-secondary {
  background: #98a6ad;
}

.ribbon-box .ribbon-secondary:before {
  border-color: #7c8d96 transparent transparent;
}

.ribbon-box .ribbon-success {
  background: #23b397;
}

.ribbon-box .ribbon-success:before {
  border-color: #1b8873 transparent transparent;
}

.ribbon-box .ribbon-info {
  background: #56c2d6;
}

.ribbon-box .ribbon-info:before {
  border-color: #31b1c8 transparent transparent;
}

.ribbon-box .ribbon-warning {
  background: #f8cc6b;
}

.ribbon-box .ribbon-warning:before {
  border-color: #f6bb3a transparent transparent;
}

.ribbon-box .ribbon-danger {
  background: #f0643b;
}

.ribbon-box .ribbon-danger:before {
  border-color: #e64212 transparent transparent;
}

.ribbon-box .ribbon-light {
  background: #f1f5f7;
}

.ribbon-box .ribbon-light:before {
  border-color: #d1dee4 transparent transparent;
}

.ribbon-box .ribbon-dark {
  background: #414d5f;
}

.ribbon-box .ribbon-dark:before {
  border-color: #2c3441 transparent transparent;
}

.ribbon-box .ribbon-pink {
  background: #e36498;
}

.ribbon-box .ribbon-pink:before {
  border-color: #db397b transparent transparent;
}

.ribbon-box .ribbon-purple {
  background: #675db7;
}

.ribbon-box .ribbon-purple:before {
  border-color: #4f459c transparent transparent;
}

.ribbon-box .ribbon-two {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-box .ribbon-two span {
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 19px;
  left: -21px;
  font-weight: 600;
}

.ribbon-box .ribbon-two span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two-primary span {
  background: #5089de;
}

.ribbon-box .ribbon-two-primary span:before {
  border-left: 3px solid #2462be;
  border-top: 3px solid #2462be;
}

.ribbon-box .ribbon-two-primary span:after {
  border-right: 3px solid #2462be;
  border-top: 3px solid #2462be;
}

.ribbon-box .ribbon-two-secondary span {
  background: #98a6ad;
}

.ribbon-box .ribbon-two-secondary span:before {
  border-left: 3px solid #6e818a;
  border-top: 3px solid #6e818a;
}

.ribbon-box .ribbon-two-secondary span:after {
  border-right: 3px solid #6e818a;
  border-top: 3px solid #6e818a;
}

.ribbon-box .ribbon-two-success span {
  background: #23b397;
}

.ribbon-box .ribbon-two-success span:before {
  border-left: 3px solid #167361;
  border-top: 3px solid #167361;
}

.ribbon-box .ribbon-two-success span:after {
  border-right: 3px solid #167361;
  border-top: 3px solid #167361;
}

.ribbon-box .ribbon-two-info span {
  background: #56c2d6;
}

.ribbon-box .ribbon-two-info span:before {
  border-left: 3px solid #2c9fb4;
  border-top: 3px solid #2c9fb4;
}

.ribbon-box .ribbon-two-info span:after {
  border-right: 3px solid #2c9fb4;
  border-top: 3px solid #2c9fb4;
}

.ribbon-box .ribbon-two-warning span {
  background: #f8cc6b;
}

.ribbon-box .ribbon-two-warning span:before {
  border-left: 3px solid #f5b322;
  border-top: 3px solid #f5b322;
}

.ribbon-box .ribbon-two-warning span:after {
  border-right: 3px solid #f5b322;
  border-top: 3px solid #f5b322;
}

.ribbon-box .ribbon-two-danger span {
  background: #f0643b;
}

.ribbon-box .ribbon-two-danger span:before {
  border-left: 3px solid #cf3b10;
  border-top: 3px solid #cf3b10;
}

.ribbon-box .ribbon-two-danger span:after {
  border-right: 3px solid #cf3b10;
  border-top: 3px solid #cf3b10;
}

.ribbon-box .ribbon-two-light span {
  background: #f1f5f7;
}

.ribbon-box .ribbon-two-light span:before {
  border-left: 3px solid #c0d2db;
  border-top: 3px solid #c0d2db;
}

.ribbon-box .ribbon-two-light span:after {
  border-right: 3px solid #c0d2db;
  border-top: 3px solid #c0d2db;
}

.ribbon-box .ribbon-two-dark span {
  background: #414d5f;
}

.ribbon-box .ribbon-two-dark span:before {
  border-left: 3px solid #222832;
  border-top: 3px solid #222832;
}

.ribbon-box .ribbon-two-dark span:after {
  border-right: 3px solid #222832;
  border-top: 3px solid #222832;
}

.ribbon-box .ribbon-two-pink span {
  background: #e36498;
}

.ribbon-box .ribbon-two-pink span:before {
  border-left: 3px solid #d4266e;
  border-top: 3px solid #d4266e;
}

.ribbon-box .ribbon-two-pink span:after {
  border-right: 3px solid #d4266e;
  border-top: 3px solid #d4266e;
}

.ribbon-box .ribbon-two-purple span {
  background: #675db7;
}

.ribbon-box .ribbon-two-purple span:before {
  border-left: 3px solid #463d8a;
  border-top: 3px solid #463d8a;
}

.ribbon-box .ribbon-two-purple span:after {
  border-right: 3px solid #463d8a;
  border-top: 3px solid #463d8a;
}

@media print {
  .left-side-menu,
  .right-bar,
  .page-title-box,
  .navbar-custom,
  .footer {
    display: none;
  }

  .card-body,
  .content-page,
  .right-bar,
  .content,
  body {
    padding: 0;
    margin: 0;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid #dee2e6;
  border-right: 5px solid #dee2e6;
  border-bottom: 5px solid #dee2e6;
  border-left: 5px solid #5089de;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: SpinnerAnimation 1.1s infinite linear;
          animation: SpinnerAnimation 1.1s infinite linear;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@-webkit-keyframes SpinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes SpinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  transition: all 0.5s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  transition: all 300ms;
}

.waves-float:active {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.slimScrollDiv {
  height: auto !important;
}

.calendar {
  float: left;
  margin-bottom: 0;
}

.fc-view {
  margin-top: 30px;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin: 15px 0 5px 0;
}

.fc-toolbar h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: uppercase;
}

.fc-day-grid-event .fc-time {
  font-weight: 700;
}

.fc-day {
  background: #fff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc th.fc-widget-header {
  background: #f1f5f7;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #dee2e6;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #f1f5f7;
  border-radius: 50%;
  margin: 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
}

.fc-button {
  background: #f1f5f7;
  border: none;
  color: #6c757d;
  text-transform: capitalize;
  box-shadow: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto;
}

.fc-text-arrow {
  font-family: inherit;
  font-size: 1rem;
}

.fc-state-hover {
  background: #f1f5f7;
}

.fc-state-highlight {
  background: #dee2e6;
}

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #5089de;
  color: #fff;
  text-shadow: none;
}

.fc-cell-overlay {
  background: #dee2e6;
}

.fc-unthemed .fc-today {
  background: #fff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 8px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 8px;
}

.fc-basic-view .fc-content {
  color: #fff;
}

.fc-time-grid-event .fc-content {
  color: #fff;
}

@media (max-width: 767.98px) {
  .fc-toolbar .fc-left,
  .fc-toolbar .fc-right,
  .fc-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
    margin: 10px 0;
  }

  .fc .fc-toolbar > * > * {
    float: none;
  }

  .fc-today-button {
    display: none;
  }
}

.jq-toast-single {
  padding: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #5089de;
  font-size: 13px;
  line-height: 22px;
}

.jq-toast-single h2 {
  font-family: "Poppins", sans-serif;
}

.jq-toast-single a {
  font-size: 0.8125rem;
}

.jq-toast-single a:hover {
  color: #fff;
}

.jq-has-icon {
  padding: 10px 10px 10px 50px;
}

.close-jq-toast-single {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 20px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: #414d5f;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}

.jq-toast-loader {
  height: 3px;
  top: 0;
  border-radius: 0;
}

.jq-icon-primary {
  background-color: #5089de;
  color: #fff;
  border-color: #5089de;
}

.jq-icon-secondary {
  background-color: #98a6ad;
  color: #fff;
  border-color: #98a6ad;
}

.jq-icon-success {
  background-color: #23b397;
  color: #fff;
  border-color: #23b397;
}

.jq-icon-info {
  background-color: #56c2d6;
  color: #fff;
  border-color: #56c2d6;
}

.jq-icon-warning {
  background-color: #f8cc6b;
  color: #fff;
  border-color: #f8cc6b;
}

.jq-icon-danger {
  background-color: #f0643b;
  color: #fff;
  border-color: #f0643b;
}

.jq-icon-light {
  background-color: #f1f5f7;
  color: #fff;
  border-color: #f1f5f7;
}

.jq-icon-dark {
  background-color: #414d5f;
  color: #fff;
  border-color: #414d5f;
}

.jq-icon-pink {
  background-color: #e36498;
  color: #fff;
  border-color: #e36498;
}

.jq-icon-purple {
  background-color: #675db7;
  color: #fff;
  border-color: #675db7;
}

.jq-icon-error {
  background-color: #f0643b;
  color: #fff;
  border-color: #f0643b;
}

.swal2-modal {
  font-family: "Poppins", sans-serif;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}

.swal2-modal .swal2-title {
  font-size: 24px;
}

.swal2-modal .swal2-content {
  font-size: 16px;
}

.swal2-modal .swal2-spacer {
  margin: 10px 0;
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
  border: 2px solid #dee2e6;
  font-size: 16px;
  box-shadow: none;
}

.swal2-modal .swal2-confirm.btn-confirm {
  background-color: #5089de !important;
  font-size: 0.8125rem;
}

.swal2-modal .swal2-cancel.btn-cancel {
  background-color: #f0643b !important;
  font-size: 0.8125rem;
}

.swal2-modal .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-icon.swal2-question {
  color: #5089de;
  border-color: #5089de;
}

.swal2-icon.swal2-success {
  border-color: #23b397;
}

.swal2-icon.swal2-success .line,
.swal2-icon.swal2-success [class^=swal2-success-line][class$=long],
.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #23b397;
}

.swal2-icon.swal2-success .placeholder,
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #23b397;
}

.swal2-icon.swal2-warning {
  color: #f8cc6b;
  border-color: #f8cc6b;
}

.swal2-icon.swal2-error {
  border-color: #f0643b;
}

.swal2-icon.swal2-error .line {
  background-color: #f0643b;
}

.swal2-icon.swal2-info {
  color: #56c2d6;
  border-color: #56c2d6;
}

.swal2-icon.swal2-info {
  border-color: #56c2d6;
}

.swal2-icon.swal2-info .line {
  background-color: #56c2d6;
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #5089de;
}

.swal2-container.swal2-shown {
  background-color: rgba(65, 77, 95, 0.9);
}

.dd-list .dd-item .dd-handle {
  background: #f1f5f7;
  border: none;
  padding: 8px 16px;
  height: auto;
  font-weight: 500;
  border-radius: 3px;
}

.dd-list .dd-item .dd-handle:hover {
  color: #5089de;
}

.dd-list .dd-item button {
  height: 36px;
  font-size: 17px;
  margin: 0;
  color: #98a6ad;
  width: 36px;
}

.dd-list .dd3-item {
  margin: 5px 0;
}

.dd-list .dd3-item .dd-item button {
  width: 36px;
  height: 36px;
}

.dd-list .dd3-handle {
  margin: 0;
  height: 36px !important;
  float: left;
}

.dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: #f1f5f7;
  font-weight: 600;
}

.dd-list .dd3-content:hover {
  color: #5089de;
}

.dd-list .dd3-handle:before {
  content: "\F35C";
  font-family: "Material Design Icons";
  color: #adb5bd;
}

.dd-empty,
.dd-placeholder {
  background: rgba(206, 212, 218, 0.2);
}

.dd-dragel .dd-handle {
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
}

.irs--flat .irs-bar,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single,
.irs--modern .irs-bar,
.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  background-color: #5089de;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child,
.irs--flat .irs-handle > i:first-child,
.irs--modern .irs-handle.state_hover > i:first-child,
.irs--modern .irs-handle:hover > i:first-child,
.irs--modern .irs-handle > i:first-child {
  background-color: #3b7bda;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before,
.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  border-top-color: #5089de;
}

.irs--modern .irs-line {
  border: none;
}

.irs--modern .irs-bar {
  background: #5089de;
  background: linear-gradient(to bottom, #5089de 0%, #286dd3 100%);
}

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single,
.irs--sharp .irs-min,
.irs--sharp .irs-max,
.irs--sharp .irs-handle,
.irs--sharp .irs-bar {
  background-color: #5089de;
}

.irs--sharp .irs-line {
  background-color: #dee2e6;
}

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before,
.irs--sharp .irs-handle > i:first-child {
  border-top-color: #5089de;
}

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: #2462be;
}

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: #2462be;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single,
.irs--round .irs-bar {
  background-color: #5089de;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before,
.irs--round .irs-bar:before {
  border-top-color: #5089de;
}

.irs--round .irs-handle {
  border: 4px solid #5089de;
  box-shadow: 0 1px 3px rgba(80, 137, 222, 0.3);
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #6c757d;
  background-color: #dee2e6;
}

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single,
.irs--square .irs-bar {
  background-color: #414d5f;
}

.irs--square .irs-handle {
  border: 3px solid #414d5f;
}

div.hopscotch-bubble {
  border: 3px solid #5089de;
  border-radius: 5px;
}

div.hopscotch-bubble .hopscotch-next,
div.hopscotch-bubble .hopscotch-prev {
  background-color: #5089de !important;
  background-image: none !important;
  border-color: #5089de !important;
  text-shadow: none !important;
  margin: 0 0 0 5px !important;
  font-family: "Poppins", sans-serif;
  color: #fff !important;
  font-weight: 400;
}

div.hopscotch-bubble .hopscotch-bubble-number {
  background: #f0643b;
  padding: 0;
  border-radius: 50%;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 19px solid #5089de;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border: none;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  border-left: 19px solid #5089de;
  left: -2px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
  border-left: 0 solid #5089de;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  border-bottom: 19px solid #5089de;
  top: 0;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
  border-bottom: 0 solid rgba(0, 0, 0, 0.5);
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 19px solid #5089de;
  top: -2px;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
  border-top: 0 solid rgba(0, 0, 0, 0.5);
}

div.hopscotch-bubble h3 {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
}

div.hopscotch-bubble .hopscotch-content {
  font-family: "Poppins", sans-serif;
}

.white-popup-block {
  background: #fff;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.jstree-default .jstree-node,
.jstree-default .jstree-icon {
  background-image: url(/images/jstree.png?3173173430c2933b09585f62ce4770d5);
}

.jstree-default .jstree-node {
  background-position: -292px -4px;
  background-repeat: repeat-y;
}

.jstree-default .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0;
}

.jstree-default .jstree-anchor {
  line-height: 28px;
  height: 28px;
}

.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(/images/loading.gif?7b9776076d5fceef4993b55c9383dedd) center center no-repeat;
}

.jstree-default .jstree-icon:empty {
  width: 24px;
  height: 28px;
  line-height: 28px;
  font-size: 15px;
}

.jstree-default .jstree-clicked,
.jstree-default .jstree-wholerow-clicked {
  background: rgba(80, 137, 222, 0.1);
  box-shadow: none;
}

.jstree-default .jstree-hovered,
.jstree-default .jstree-wholerow-hovered {
  background: rgba(80, 137, 222, 0.15);
  box-shadow: none;
}

.jstree-default .jstree-last {
  background: transparent;
}

.jstree-default .jstree-wholerow {
  height: 28px;
}

.dataTables_wrapper.container-fluid {
  padding: 0;
}

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #5089de;
}

table.dataTable tbody > tr.selected td,
table.dataTable tbody > tr > .selected td {
  border-color: #5089de;
}

table.dataTable tbody td:focus {
  outline: none !important;
}

table.dataTable tbody th.focus,
table.dataTable tbody td.focus {
  outline: 2px solid #5089de !important;
  outline-offset: -1px;
  color: #5089de;
  background-color: rgba(80, 137, 222, 0.15);
}

.dataTables_info {
  font-weight: 500;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  background-color: #23b397;
  top: 0.85rem;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: #f0643b;
  top: 0.85rem;
}

div.dt-button-info {
  background-color: #5089de;
  border: none;
  color: #fff;
  box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21;
}

div.dt-button-info h2 {
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

@media (max-width: 767.98px) {
  li.paginate_button.previous,
  li.paginate_button.next {
    display: inline-block;
    font-size: 1.5rem;
  }

  li.paginate_button {
    display: none;
  }

  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1.5rem 0 0 !important;
  }

  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1.5rem;
  }
}

.activate-select .sorting_1 {
  background-color: #f1f5f7;
}

.responsive-table-plugin .dropdown-menu li.checkbox-row {
  padding: 7px 15px;
}

.responsive-table-plugin .table-responsive {
  border: none;
  margin-bottom: 0;
}

.responsive-table-plugin .btn-toolbar {
  display: block;
}

.responsive-table-plugin tbody th {
  font-size: inherit;
  font-weight: normal;
  text-transform: none;
}

.responsive-table-plugin .checkbox-row {
  padding-left: 40px;
}

.responsive-table-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  margin-bottom: 0;
}

.responsive-table-plugin .checkbox-row label::before {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ced4da;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none;
}

.responsive-table-plugin .checkbox-row label::after {
  color: #ced4da;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -2px;
  width: 16px;
}

.responsive-table-plugin .checkbox-row input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:disabled + label {
  opacity: 0.65;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  content: "\F00C";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:disabled + label::before {
  background-color: #dee2e6;
  cursor: not-allowed;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:checked + label::before {
  background-color: #fff;
  border-color: #5089de;
}

.responsive-table-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  color: #5089de;
}

.responsive-table-plugin table.focus-on tbody tr.focused th,
.responsive-table-plugin table.focus-on tbody tr.focused td,
.responsive-table-plugin .sticky-table-header {
  background: #5089de;
  color: #fff;
  border-color: #5089de;
}

.responsive-table-plugin table.focus-on tbody tr.focused th table,
.responsive-table-plugin table.focus-on tbody tr.focused td table,
.responsive-table-plugin .sticky-table-header table {
  color: #fff;
}

.responsive-table-plugin .fixed-solution .sticky-table-header {
  top: 70px !important;
  z-index: 1;
}

.responsive-table-plugin .btn-default {
  background-color: #fff;
  color: #414d5f;
  border: 1px solid rgba(65, 77, 95, 0.3);
}

.responsive-table-plugin .btn-default.btn-primary {
  background-color: #5089de;
  border-color: #5089de;
  color: #fff;
  box-shadow: 0 0 0 2px rgba(80, 137, 222, 0.5);
}

.responsive-table-plugin .btn-group.pull-right {
  float: right;
}

.responsive-table-plugin .btn-group.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}

.tablesaw thead {
  background: #f1f5f7;
  background-image: none;
  border: none;
}

.tablesaw thead th {
  text-shadow: none;
}

.tablesaw thead tr:first-child th {
  border: none;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.tablesaw td {
  border-top: 1px solid #f1f5f7 !important;
}

.tablesaw td,
.tablesaw tbody th {
  font-size: inherit;
  line-height: inherit;
  padding: 10px !important;
}

.tablesaw-stack tbody tr,
.tablesaw tbody tr {
  border-bottom: none;
}

.tablesaw-bar .btn-select.btn-small:after,
.tablesaw-bar .btn-select.btn-micro:after {
  font-size: 8px;
  padding-right: 10px;
}

.tablesaw-swipe .tablesaw-cell-persist {
  box-shadow: none;
  border-color: #f1f5f7;
}

.tablesaw-enhanced .tablesaw-bar .btn {
  text-shadow: none;
  background-image: none;
  text-transform: none;
  border: 1px solid #dee2e6;
  padding: 3px 10px;
  color: #414d5f;
}

.tablesaw-enhanced .tablesaw-bar .btn:after {
  display: none;
}

.tablesaw-enhanced .tablesaw-bar .btn.btn-select:hover {
  background: #fff;
}

.tablesaw-enhanced .tablesaw-bar .btn:hover,
.tablesaw-enhanced .tablesaw-bar .btn:focus,
.tablesaw-enhanced .tablesaw-bar .btn:active {
  color: #5089de !important;
  background-color: #f1f5f7;
  outline: none !important;
  box-shadow: none !important;
  background-image: none;
}

.tablesaw-columntoggle-popup .btn-group {
  display: block;
}

.tablesaw-swipe .tablesaw-swipe-cellpersist {
  border-right: 2px solid #f1f5f7;
}

.tablesaw-sortable-btn {
  cursor: pointer;
}

.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #f1f5f7;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #5089de;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #5089de;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #5089de;
}

.jvectormap-label {
  border: none;
  background: #414d5f;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8125rem;
  padding: 5px 8px;
}

.mapael .map {
  position: relative;
}

.mapael .map .zoomIn {
  top: 25px;
}

.mapael .map .zoomOut {
  top: 50px;
}

.mapael .mapTooltip {
  position: absolute;
  background-color: #5089de;
  opacity: 0.95;
  border-radius: 3px;
  padding: 2px 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

.mapael .zoomIn,
.mapael .zoomOut,
.mapael .zoomReset {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
  background-color: #5089de;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 10px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.mapael .plotLegend text {
  font-family: "Poppins", sans-serif !important;
}

[data-plugin=customselect] {
  display: none;
}

.nice-select {
  line-height: 36px;
  height: 38px;
  font-size: 0.8125rem;
  border-color: #ced4da;
  border-radius: 0.2rem;
}

.nice-select.open,
.nice-select:active,
.nice-select:focus {
  border-color: #b1bbc4;
}

.nice-select.small {
  height: 32px;
  line-height: 30px;
}

.select2-container .select2-selection--single {
  border: 1px solid #ced4da;
  height: 38px;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #c0d2db transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #c0d2db transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid #e1e9ee;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
}

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #e1e9ee;
  outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5089de;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f1f5f7;
  color: #414d5f;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
  background-color: #5089de;
  color: #fff;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #ced4da !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 1px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #5089de;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 0 7px;
  margin-top: 7px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  margin-right: 5px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}

.bootstrap-select .dropdown-toggle:before {
  content: "\F140";
  display: inline-block;
  font-family: "Material Design Icons";
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  outline-offset: 0;
}

.bootstrap-select a {
  outline: none !important;
}

.bootstrap-select .inner {
  overflow-y: inherit !important;
}

.bootstrap-touchspin .btn .input-group-text {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

.parsley-errors-list {
  margin: 0;
  padding: 0;
}

.parsley-errors-list > li {
  list-style: none;
  color: #f0643b;
  margin-top: 5px;
  padding-left: 20px;
  position: relative;
}

.parsley-errors-list > li:before {
  content: "\F159";
  font-family: "Material Design Icons";
  position: absolute;
  left: 2px;
  top: -1px;
}

.parsley-error {
  border-color: #f0643b;
}

.parsley-success {
  border-color: #23b397;
}

.datepicker {
  padding: 10px !important;
}

.datepicker td,
.datepicker th {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td .active.disabled:hover[disabled],
.datepicker table tr td .active.disabled[disabled],
.datepicker table tr td .active:active,
.datepicker table tr td .active:hover,
.datepicker table tr td .active:hover.active,
.datepicker table tr td .active:hover.disabled,
.datepicker table tr td .active:hover:active,
.datepicker table tr td .active:hover:hover,
.datepicker table tr td .active:hover[disabled],
.datepicker table tr td .active[disabled],
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled],
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
  background-color: #5089de !important;
  background-image: none !important;
  color: #fff;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover,
.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background: #f7f7f7;
}

.datepicker table tr td.new,
.datepicker table tr td.old,
.datepicker table tr td span.new,
.datepicker table tr td span.old {
  color: #6c757d;
  opacity: 0.4;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #f7f7f7;
}

.datepicker .datepicker-switch:hover {
  background: none;
}

.datepicker-dropdown:after {
  border-bottom: 6px solid #fff;
}

.datepicker-dropdown:before {
  border-bottom-color: #e7eef1;
}

.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid #e7eef1;
}

.datepicker-dropdown.datepicker-orient-top:after {
  border-top: 6px solid #fff;
}

.daterangepicker {
  font-family: "Poppins", sans-serif;
  border: 1px solid #e7eef1;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.3);
  background-color: #fff;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  background-color: #fff;
}

.daterangepicker .calendar-table td,
.daterangepicker .calendar-table th {
  color: #98a6ad;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border-color: #adb5bd;
}

.daterangepicker td.in-range {
  background-color: #edeff1;
  color: #6c757d;
}

.daterangepicker td.off,
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date {
  background-color: #fff;
  color: #6c757d;
  opacity: 0.5;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #5089de;
  color: #fff;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #5089de;
  color: #fff;
}

.daterangepicker:after {
  border-bottom: 6px solid #fff;
}

.daterangepicker:before {
  border-bottom: 7px solid #e7eef1;
}

.daterangepicker .ranges li.active {
  background-color: #5089de;
}

.daterangepicker .ranges li:hover {
  background-color: #f8f9fa;
}

.daterangepicker .drp-buttons {
  border-top: 1px solid #e7eef1;
}

.daterangepicker select.ampmselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
  background: white;
  border: 1px solid white;
  color: #fff;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 1px solid #e7eef1;
}

.form-wizard-header {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/summernote.eot?a52b483f848b87d49a85f0c58ca28699);
  src: url(/fonts/summernote.eot?a52b483f848b87d49a85f0c58ca28699?#iefix) format("embedded-opentype"), url(/fonts/summernote.woff?f9b5d834b2fea5a2b440074e662c2281) format("woff"), url(/fonts/summernote.ttf?ad2ecd48a495cc67b3b33764bee90f14) format("truetype");
}

.note-editor.note-frame {
  border: 1px solid #ced4da;
  box-shadow: none;
  margin: 0;
}

.note-editor.note-frame .note-statusbar {
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.note-editor.note-frame .note-editable {
  border: none;
}

.note-status-output {
  display: none;
}

.note-editable {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  padding: 0.45rem 0.9rem;
}

.note-editable p:last-of-type {
  margin-bottom: 0;
}

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px;
}

.note-toolbar {
  z-index: 1;
}

.ql-container {
  font-family: "Poppins", sans-serif;
}

.ql-bubble {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}

.ql-toolbar {
  font-family: "Poppins", sans-serif !important;
}

.ql-toolbar span {
  outline: none !important;
}

.dropzone {
  border: 2px dashed rgba(65, 77, 95, 0.3);
  background: #fff;
  border-radius: 6px;
}

.flotTip {
  padding: 8px 12px;
  background-color: #414d5f;
  z-index: 100;
  color: #fff;
  opacity: 1;
  border-radius: 3px;
}

.legend tr {
  height: 30px;
  font-family: "Work Sans", sans-serif;
}

.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #98a6ad;
  text-transform: uppercase;
}

.legendColorBox div div {
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .legendLabel {
    display: none;
  }
}

.morris-chart text {
  font-family: "Work Sans", sans-serif !important;
}

.morris-hover {
  position: absolute;
  z-index: 10;
}

.morris-hover.morris-default-style {
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 12px;
  background: #414d5f;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
  font-family: "Work Sans", sans-serif;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
  color: #fff;
}

.britechart,
.tick text {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
}

.horizontal-grid-line,
.vertical-grid-line,
.extended-x-line,
.extended-y-line {
  stroke: #dee2e6;
}

.tick text,
.bar-chart .percentage-label,
.donut-text,
.legend-entry-name,
.legend-entry-value {
  fill: #98a6ad;
}

.ct-golden-section:before {
  float: none;
}

.ct-chart {
  max-height: 300px;
}

.ct-chart .ct-label {
  fill: #adb5bd;
  color: #adb5bd;
  font-size: 12px;
  line-height: 1;
}

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #fff;
  fill: #fff;
  font-size: 16px;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #56c2d6;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #f0643b;
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f8cc6b;
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #23b397;
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #5089de;
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #e36498;
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #675db7;
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #56c2d6;
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f0643b;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #f8cc6b;
}

.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #23b397;
}

.ct-area {
  fill-opacity: 0.33;
}

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  background: #414d5f;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.2s linear;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}

.jqstooltip {
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #414d5f !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #414d5f !important;
}

.jqsfield {
  color: #fff !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
}

[data-plugin=knob] {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

.apex-charts {
  min-height: 10px !important;
}

.apex-charts text {
  font-family: "Poppins", sans-serif !important;
  fill: #adb5bd;
}

.apex-charts .apexcharts-canvas {
  margin: 0 auto;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-family: "Poppins", sans-serif !important;
}

.apexcharts-legend-series {
  font-weight: 600;
}

.apexcharts-gridline {
  pointer-events: none;
  stroke: #f1f5f7;
}

.apexcharts-legend-text {
  color: #98a6ad !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
}

.apexcharts-pie-label {
  fill: #fff !important;
}

.apexcharts-yaxis text,
.apexcharts-xaxis text {
  font-family: "Poppins", sans-serif !important;
  fill: #adb5bd;
}

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}

.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}

.icons-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.icons-list-demo div p {
  margin-bottom: 0;
  line-height: inherit;
}

.icons-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  color: rgba(65, 77, 95, 0.7);
  border-radius: 3px;
  display: inline-block;
  transition: all 0.2s;
}

.icons-list-demo .col-md-4 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 10px;
}

.icons-list-demo .col-md-4:hover,
.icons-list-demo .col-md-4:hover i {
  color: #5089de;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}

.grid-structure .grid-container {
  background-color: #f1f5f7;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 20px;
}

.authentication-bg.enlarged {
  min-height: 100px;
}

body.authentication-bg {
  background-size: cover;
  background-position: center;
}

.auth-title {
  background-color: #f7fafb;
  border-top: 1px solid #ecf2f4;
  border-bottom: 1px solid #ecf2f4;
  padding: 12px 2.25rem;
  margin: 0 -2.25rem 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

body.authentication-bg-pattern {
  background-image: url(/images/bg-pattern.png?0a22e77ac1bd54272933ec31982bf4b4);
}

.logout-icon {
  width: 140px;
}

.logout-checkmark {
  width: 100px;
  margin: 0 auto;
  padding: 20px 0;
}

.logout-checkmark .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s ease-in-out;
          animation: dash 2s ease-in-out;
}

.logout-checkmark .spin {
  -webkit-animation: spin 2s;
          animation: spin 2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-error {
  color: #5089de;
  text-shadow: rgba(80, 137, 222, 0.3) 5px 1px, rgba(80, 137, 222, 0.2) 10px 3px;
  font-size: 84px;
  line-height: 90px;
  font-family: "Work Sans", sans-serif;
}

.post-user-comment-box {
  background-color: #f1f5f7;
  margin: 0 -0.75rem;
  padding: 1rem;
  margin-top: 20px;
}

.timeline {
  margin-bottom: 50px;
  position: relative;
}

.timeline:before {
  border: 1.5px dashed #dee2e6;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 30px;
  width: 1px;
  z-index: 0;
}

.timeline .time-show {
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.timeline .timeline-box {
  background: #fff;
  display: block;
  margin: 15px 0;
  position: relative;
  padding: 20px;
}

.timeline .timeline-album {
  margin-top: 12px;
}

.timeline .timeline-album a {
  display: inline-block;
  margin-right: 5px;
}

.timeline .timeline-album img {
  height: 36px;
  width: auto;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .timeline .time-show {
    margin-right: -69px;
    text-align: right;
  }

  .timeline .timeline-box {
    margin-left: 45px;
  }

  .timeline .timeline-icon {
    background: #5089de;
    border-radius: 50%;
    display: block;
    height: 20px;
    left: -54px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
  }

  .timeline .timeline-icon i {
    color: #fff;
    font-size: 13px;
    position: absolute;
    left: 4px;
    margin-top: 1px;
  }

  .timeline .timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }

  .timeline-item {
    display: table-row;
  }

  .timeline-item:before {
    content: "";
    display: block;
    width: 50%;
  }

  .timeline-item .timeline-desk .arrow {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff !important;
    border-top: 12px solid transparent;
    display: block;
    height: 0;
    left: -12px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  .timeline-item.timeline-item-left:after {
    content: "";
    display: block;
    width: 50%;
  }

  .timeline-item.timeline-item-left .timeline-desk .arrow-alt {
    border-bottom: 12px solid transparent;
    border-left: 12px solid #fff !important;
    border-top: 12px solid transparent;
    display: block;
    height: 0;
    left: auto;
    margin-top: -12px;
    position: absolute;
    right: -12px;
    top: 50%;
    width: 0;
  }

  .timeline-item.timeline-item-left .timeline-desk .album {
    float: right;
    margin-top: 20px;
  }

  .timeline-item.timeline-item-left .timeline-desk .album a {
    float: right;
    margin-left: 5px;
  }

  .timeline-item.timeline-item-left .timeline-icon {
    left: auto;
    right: -56px;
  }

  .timeline-item.timeline-item-left:before {
    display: none;
  }

  .timeline-item.timeline-item-left .timeline-box {
    margin-right: 45px;
    margin-left: 0;
    text-align: right;
  }
}

@media (max-width: 767.98px) {
  .timeline .time-show {
    text-align: center;
    position: relative;
  }

  .timeline .timeline-icon {
    display: none;
  }
}

.timeline-sm {
  padding-left: 110px;
}

.timeline-sm .timeline-sm-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 40px;
  border-left: 2px solid #dee2e6;
}

.timeline-sm .timeline-sm-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #5089de;
}

.timeline-sm .timeline-sm-item .timeline-sm-date {
  position: absolute;
  left: -104px;
}

@media (max-width: 420px) {
  .timeline-sm {
    padding-left: 0px;
  }

  .timeline-sm .timeline-sm-date {
    position: relative !important;
    display: block;
    left: 0px !important;
    margin-bottom: 10px;
  }
}

.faq-question-q-box {
  height: 30px;
  width: 30px;
  color: #f0643b;
  text-align: center;
  border-radius: 50%;
  float: left;
  font-weight: 700;
  line-height: 30px;
  background-color: rgba(240, 100, 59, 0.15);
}

.faq-question {
  margin-top: 0;
  margin-left: 50px;
  font-size: 16px;
}

.faq-answer {
  margin-left: 50px;
  color: #98a6ad;
}

.card-pricing {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
}

.card-pricing .card-pricing-plan-name {
  padding-bottom: 20px;
}

.card-pricing .card-pricing-icon {
  font-size: 22px;
  background-color: rgba(240, 100, 59, 0.1);
  height: 60px;
  display: inline-block;
  width: 60px;
  line-height: 62px;
  border-radius: 50%;
}

.card-pricing .card-pricing-price {
  padding: 30px 0 0;
}

.card-pricing .card-pricing-price span {
  font-size: 40%;
  color: #98a6ad;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-pricing .card-pricing-features {
  color: #98a6ad;
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
}

.card-pricing .card-pricing-features li {
  padding: 10px;
}

.card-pricing-recommended {
  background-color: rgba(86, 194, 214, 0.1);
  color: #56c2d6;
  border-color: #56c2d6;
}

.card-pricing-recommended .card-pricing-icon {
  background-color: rgba(86, 194, 214, 0.2);
}

.card-pricing-recommended .card-pricing-features,
.card-pricing-recommended .card-pricing-price span {
  color: #56c2d6;
}

.counter-number {
  font-size: 32px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

.counter-number span {
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.coming-box {
  float: left;
  width: 25%;
  color: #f0643b;
}

.coming-box:nth-child(2n) {
  color: #56c2d6;
}

.svg-rocket {
  height: 80px;
}

.rocket-clouds__bubble,
.rocket-clouds__cloud,
.rocket-rocket,
.rocket-inner__rocket-and-lines {
  fill: #5089de;
}

.inbox-leftbar {
  width: 240px;
  float: left;
  padding: 0 20px 20px 10px;
}

.inbox-rightbar {
  margin: -1.5rem 0 -1.5rem 250px;
  border-left: 5px solid #f5f6f8;
  padding: 1.5rem 0 1.5rem 25px;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 51px;
  line-height: 50px;
  cursor: default;
  transition-duration: 0.3s;
}

.message-list li a {
  color: #6c757d;
}

.message-list li:hover {
  background: #f1f5f7;
  transition-duration: 0.05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  margin-top: 18px;
  color: #adb5bd;
  margin-left: 10px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  line-height: 50px;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  left: 0;
  right: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 100px;
  padding-left: 10px;
}

.message-list li.active,
.message-list li.mail-selected {
  background: #f1f5f7;
  transition-duration: 0.05s;
}

.message-list li.active,
.message-list li.active:hover {
  box-shadow: inset 3px 0 0 #56c2d6;
}

.message-list li.unread a {
  font-weight: 500;
  color: #374150;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 2px #ced4da;
  border-radius: 3px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  cursor: pointer;
  background: #98a6ad;
  opacity: 0;
  margin-bottom: 0 !important;
  transition-duration: 0.05s;
}

.message-list .checkbox-wrapper-mail label:active {
  background: #87949b;
}

.mail-list a {
  color: #6c757d;
  padding: 7px 10px;
  display: block;
}

.reply-box {
  border: 2px solid #f1f5f7;
}

@media (max-width: 648px) {
  .inbox-leftbar {
    width: 100%;
    float: none;
  }

  .inbox-rightbar {
    margin-left: 0;
    border: 0;
    padding-left: 0;
  }

  .message-list li .col-mail-1 .checkbox-wrapper-mail {
    margin-left: 0;
  }
}

@media (max-width: 520px) {
  .inbox-rightbar > .btn-group {
    margin-bottom: 10px;
  }

  .message-list li .col-mail-1 {
    width: 150px;
  }

  .message-list li .col-mail-1 .title {
    left: 80px;
  }

  .message-list li .col-mail-2 {
    left: 160px;
  }

  .message-list li .col-mail-2 .date {
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;
  }
}

